<h2>Edit {{player.name}} (<small>{{player.id}}</small>)</h2>
<form method="POST" action="/player/{{player.id}}?_method=PUT">
  <label>
    <p>
      Name:
    </p>
    <p>
      <input type="text" name="name" value="{{player.name}}">
    </p>
  </label>
  <label>
    <p>
      Birth:
    </p>
    <p>
      <input type="date" name="birth" value="{{player.birth}}">
    </p>
  </label>
  <label>
    <p>
      Club:
    </p>
    <p>
      <input type="text" name="club" value="{{player.club}}">
    </p>
  </label>
  <label>
    <p>
      Position:
    </p>
    <p>
      <input type="text" name="position" value="{{player.position}}">
    </p>
  </label>
  <label>
    <p>
      Foot:
    </p>
    <p>
      <input type="text" name="foot" value="{{player.foot}}">
    </p>
  </label>

  <p>
    <button type="submit">Save</button>
  </p>
</form>